[Desktop Entry]
Name=PocketSNES
Comment=Nintendo Super NES/Famicom emulator
Comment[fr]=Émulateur de Super Nintendo
Comment[es]=Emulador de Super Nintendo
Exec=PocketSNES.dge %f
Icon=sfc
Categories=emulators
selectorFilter=sfc,smc,swc,zip
